# Data folder
data/**
!/data/mscoco14/.gitkeep
notebooks/data/**

# Generated requirements
requirements-gen.txt
requirements-clean.txt

# documentation generated folders
doc/build/
docs/_build/
doc/src-gen
doc/src

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info
*.egg
.installed.cfg
.Python
develop-eggs/
eggs/
.eggs/
wheels/
share/python-wheels/
MANIFEST

# python cache
**.pyc
**/__pycache__



# IPython
profile_default/
ipython_config.py

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class



# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/


# C extensions
*.so


# Cython debug symbols
cython_debug/



# mypy
.mypy_cache/
.dmypy.json
dmypy.json


# Spyder project settings
.spyderproject
.spyproject
